.itemCart {
  margin-top: 3rem;
  background: rgba(253, 253, 253, 0.384);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  width: 850px;
  max-height: 130px;
  border-radius: 7px;
  overflow: hidden;

  .infoProduc {
    display: flex;
    position: relative;
    justify-content: center;
    img {
      width: 130px;
    }

    .description {
      min-width: 60%;
      max-width: 60%;
      font-size: medium;
      margin: 0.5rem 2rem 0rem 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: large;
    }

    .cantidad {
      width: 20%;
      margin-top: 1rem;
      text-align: center;
      .modificar {
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        width: 2rem;

        &:hover {
          cursor: pointer;
        }
      }
      .cantidadProduc {
        font-size: 2.5rem;
      }

      .totalPrice {
        font-weight: bold;
      }
    }

    .eliminar {
      position: absolute;
      bottom: 2%;
      left: 16.5%;
      border: none;
      background-color: transparent;
      color: rgba(0, 0, 255, 0.623);

      &:hover {
        cursor: pointer;
      }
    }

    .comprarIndivual {
      position: absolute;
      bottom: 2%;
      left: 25%;
      border: none;
      background-color: transparent;
      color: #02be0b;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1270px) {
  .itemProductos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .itemProductos {
    .itemCart {
      width: 672px;

      .description {
        min-width: 55%;
        max-width: 55%;
      }

      .infoProduc {
        img {
          width: 111px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .eliminar {
          left: 21.3%;
        }

        .comprarIndivual {
          left: 32%;
        }
      }
    }
  }
}

@media screen and (max-width: 704px) {
  .itemProductos {
    .itemCart {
      width: 473px;
      margin-top: 2rem;
      .description {
        min-width: 47%;
        max-width: 47%;
        margin-right: 0;
      }

      .infoProduc {
        justify-content: initial;
        height: 90px;
        img {
          width: 90px;
        }

        .cantidad {
          width: 30%;
          font-size: small;

          .cantidadProduc {
            font-size: 2rem;
          }

          .totalPrice {
            margin: 0;
          }
        }

        .eliminar {
          bottom: 5%;
        }

        .comprarIndivual {
          left: 37%;
          bottom: 5%;
        }
      }
    }
  }
}

@media screen and (max-width: 485px) {
  .itemProductos .itemCart {
    width: 355px;

    .infoProduc {

      img {
        width: 70px;
        margin-top: 1rem;
      }

      .eliminar {
        font-size: small;
      }

      .comprarIndivual {
        left: 42%;
        font-size: small;
      }
    }
  }
}
