@use "../sass/style.scss";

body {
  background-color: #f1f1f121;
  width: 70%;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (max-width: 1270px) {
  body {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  body {
    width: 94%;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}